:root{
  --first-font-family: "Cinzel", serif;
  --second-font-family: "Italiana", sans-serif;
  --third-font-family: "Lato", sans-serif;
  --main-color: #F1D7FF;
  --bg-color: #FFE5F4;
  --green-color: #22C55E;
  --titles-color: #262626;
  --first-grey-color: #5C5C5C;
  --second-grey-color: #4B5563;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
p, h1, h2, h3, h4, h5, ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}