.orders{
    width: 100%;
}
.orders .table{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    font-size: 14px;
}
.orders .table.header{
    border: 1px solid var(--main-color);
    border-radius: 5px;
}
.orders .table.body{
    border-bottom: 1px solid var(--main-color);
}
.orders .table.body i{
    cursor: pointer;
}
.orders .table.body i.eye{
    color: var(--titles-color);
}
.orders .table.body i.trash{
    color: red;
}
@media (max-width:776px) {
    .orders .table.header{
        display: none;
    }
    .orders .table{
        grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 0.25fr 0.25fr;
        font-size: 12px;
    }
}